* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Montserrat';
}
.header {
    background-image: linear-gradient(rgba(209, 206, 206, 0.212), rgba(209, 206, 206, 0.212)), url(/step-project-ham/images/bckhd.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}
.container {
    max-width: 1160px;
    margin: 0 auto;
    
}
.header-nav-bar{
    background-color: rgba(24, 23, 20, 0.5);
    height: 120px;
}
.row {
    display: flex;
    height: 120px;
    position: relative;
    justify-content: space-between;
    align-items: center;
}
.header-nav-bar a{
    text-decoration: none;
    color: white;
   
}
.header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-logo-link {
    margin-left: 5px;
    font-size: 25px;
    font-weight: 300;
}
.header-logo-link--ham{
    color: #18cfab;
    font-size: 25px;
    font-weight: bold;
}

.hexagon {
    position: relative;
}
.hexagon-text-h {
    position: absolute;
    color: white;
    left: 16px;
    top: -5px;
    font-size: 40px;
}
.hexagon {
    position: relative;
    width: 60px; 
    height: 34.64px;
    background-color: #18cfab;
    margin: 17.32px 0;
  }
  
  .hexagon:before,
  .hexagon:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
  }
  
  .hexagon:before {
    bottom: 100%;
    border-bottom: 17.32px solid #18cfab;
  }
  
  .hexagon:after {
    top: 100%;
    width: 0;
    border-top: 17.32px solid #18cfab;
  }

.header-links {
    display: flex;
    position: absolute;
    right: 0px;
    align-items: center;
}
.header-links a{
   margin-right: 20px;
   color: #b8b8b8;
   text-transform: uppercase;
   font-size: 12px;
   position: relative;
  
}
.header-links a:not(:last-child):hover::after {
    content: "";
    position: absolute;
    background-color: #18cfab;
    top:67px;
    width: 100%;
    height: 1px;
    left: 0;
    
}
.header-links a:hover {
color: #18cfab;

}

.search-icon {
    filter: invert(73%) sepia(8%) saturate(7%) hue-rotate(348deg) brightness(96%) contrast(102%);
    height: 16px;
    width: 16px;
}

.header-contains {
    padding-bottom: 244px;
}
.header-top {
    color: white;
    margin-top: 246px;
    font-weight: 700;
    font-size: 35px;
    text-align: center;
    text-transform: uppercase;
}

.header-top--colored {
    color: #18cfab;
}

.header-middle {
    margin-top: 45px;
    color: white;
    font-weight: bold;
    font-size: 69px;
    text-align: center;
}
.header-bottom {
    margin-top: 37px;
    color: white;
    font-weight: 300;
    font-size: 29px;
    text-align: center;
}
.header-buttons {
    margin-top: 146px;
    text-align: center;
}
.button-box {
    display: inline-block;
    padding: 26px 0;
    margin: 0 15px;
    font-weight: bold;
    font-size: 13px;
    text-align: center;
    width: 166px;
    cursor: pointer;
    border-radius: 4px;
    color: white;
    box-shadow: 0 -4px white;
    border-style: none;
}
.header-buttons-explore {
    background-color: #18cfab;
}
.header-buttons-purchase {
    background-color: #18cfab;
}
.header-buttons-explore:hover {
    background-color:  #00cbf6;;
}
.header-buttons-purchase:hover {
    background-color:  #00cbf6;
}

.four-options {
    display: flex;  
    
}
.option {
    width:25%;
    display: flex;
    flex-direction: column;
    background-color: #1c2a33;
    color: #18cfab;
    height:320px;
    align-items: center;
    justify-content: center;
    border-top: 7px solid #18cfab;
}
.option-icon {
    margin-bottom: 48px;
    height:96px;
}
.type-two {
    background-color: #18cfab;
    border-top: 7px solid white;
    color:white;
}

.our-services {
    width: 100%;
    position: relative;
}
.our-services-text{
    padding-bottom: 40px;
}
.lines {
    display : flex;
    justify-content: center;
    align-items: center;
}
.line{
    width: 100px;
    position: relative;
}

.line:before {
    content: "";
    position: absolute;
    background-color: #18cfab;
    width: 80px;
    top: -4px;
    height: 1px;
    left: 5px;

}
.line:after{
    content: "";
    position: absolute;
    background-color: #18cfab;
    width: 80px;
    height: 1px;
    left: 20px;

}

.our-services-tabs {
    padding-bottom: 70px;
}
.our-services-text {
    font-size: 30px;
    color: #4e4e4e;
    text-align: center;
}

.services{
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    padding: 0;
}
.tabs-title{
    width: calc(100% / 6);
    height: 70px;
    background-color: #f8fcfe;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ebebeb;
    color: #717171;
    cursor: pointer;
    position: relative;
    padding: 0;

}
.active {
    background-color: #18cfab;
    color: white;
}
.active:after {
    content: " ";
    width: 0;
    position: absolute;
    bottom: -14px;
    border-top: 15px solid;
    border-color: #18cfab;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
}
.tabs-content{
    display: flex;
    align-items: center;
    
}
.image-content{
width: 196px;
height: 138px;
}
.text-content{
    padding-left: 10px;
}
.hidden{
    display:none;
}

.purchase-section {
    background-image:linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8)),  url(/step-project-ham/images/sec_2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.purchase-section-contents{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    padding-bottom: 120px;
}
.purchase-section-header {
    font-size: 40px;
    color:#18cfab;
    padding-top: 120px;
    padding-bottom: 35px;
    text-transform: uppercase;
}
.purchase-section-paragraph {
    font-size: 16px;
    padding-bottom: 60px;
    color: #d8d8d8;
}

.our-works {
    width: 100%;
    background-color: white;
   
}
.our-works-text{
    padding-bottom: 40px;
    position: relative;
}

.our-works-tabs {
    padding-bottom: 70px;
}
.our-works-text {
    font-size: 30px;
    color: #4e4e4e;
    text-align: center;
}

.work-tabs-title {
    border: 1px solid #ebebeb ;
    padding: 17px 27px;
    cursor: pointer;
    color: #717171;
    position: relative;
}
.works{
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
}

.choosen {
    color: #18cfab
}
.choosen::after {
    content: '';
    width: 100%;
    height: 2px;
    background-color: #18cfab;
    position: absolute;
    top: -1px;
    left:0;
}
.work-images {
    display:flex;
    flex-wrap: wrap;
    padding-bottom: 72px;
}

.load-more-button {
    background-color: #18cfab;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
}
.load-button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 100px;
    
}

.plus-sign{
    font-size: 30px;
    padding-right: 10px;
}

.footer {
    background-color: #22353f;
    width: 100%;
    
}
.footer-text {
    font-size: 14px;
    padding: 20px;
    text-align: center;
    color: #b8b8b8;
    margin: 0;
    font-weight: 400;
}
.footer-text a {
    text-decoration: none;
    color: #18cfab;
}